
# Compiled Object files
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll


# Compiled Static libraries
*.lib

# Executables
*.exe

packages
.vs
Debug
Release
x64
ARM64
src/Shairport4w.vcxproj.user

*.aps
*.bak

cov-int
*.zip

src/Bonjour